@model IEnumerable<MovieApp.Entity.MovieModel>
@{
    ViewData["Title"] = "ShowMovies";
}

<h1>ShowMovies</h1>


<h1>The Movie Details </h1>
<table class="table  table-striped">
    <thead>
        <tr>
            <th>
                Sr. No
            </th>
            <th>
                MovieTitle
            </th>
            <th>
                MovieDescription
            </th>
            <th>
                MovieLanguage
            </th>
            <th>
                Action-1
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.MovieId
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Description
                </td>
                <td>
                    @item.Language
                </td>

                <td>
                    <button>Delete Movie</button>
                </td>
            </tr>
        }
    </tbody>
</table>